<div class="row hack-row">
    <div class="col-md-2 hack-col">
        <div class="control-panel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    My Images
                    <div class="btn btn-xs btn-primary pull-right" type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-size="2MB">
                        Upload
                    <i class="ion ion-android-upload pull-right" style="font-size:1.5em; margin-left:0.3em;"  ></i>
                        
                    </div>
                </div>
                <div class="panel-body">
                    <div class="image-list" ng-repeat="marker in markers">
                        <p>
                            <!--<i class="icon ion-record pull-right" ng-class="{'online':marker.opacity}" ng-click="toggleMarker(marker)"></i> Name: {{::marker.name}}-->
                            <span><input type="checkbox" class="pull-right" ng-model="marker.online" ng-click="toggleMarker(marker)"></span> Name: {{::marker.name}}
                        </p>
                        <p>
                            GeoC: {{showGeoCoord(marker.lat,marker.lng)}}
                        </p>
                        <button class="btn btn-info btn-xs">Edit</button>
                        <button class="btn btn-warning btn-xs">Share</button>
                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">Shared Images</div>
                <div class="panel-body">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Image 2
                        </label>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="col-md-10 hack-col">
        <leaflet center="center" layers="layers" defaults="defaults" markers="markers" width="100%" height="100%"></leaflet>
    </div>
</div>