.mapcontainer {
    height: 100%;
}


/*monkey patch for bootstrap default padding, very ugly*/

.hack-row {
    height: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.hack-col {
    height: 100%;
    padding: 0em !important;
}

.control-panel {
    padding: 1em;
    .image-list {
        border: 1px solid grey;
        padding: 0.8em;
        margin-bottom: 1em;
        .icon{
            cursor: pointer;
            font-size:1.2m;
        }
        .online{
            color:limegreen;
        }
    }
}